<p id="notice"><%= notice %></p>

<h1>Departments</h1>

<table border="5">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %>
          <table>
            <thead>
              <tr>
                <th>Sname</th>
              </tr>
            </thead>
            <tbody>
              <% department.subdepartments.each do |department| %>
                <tr>
                  <td><%= department.name %></td>
                  <td><%= link_to 'Show', department %></td>
                  <td><%= link_to 'Edit', edit_department_path(department) %></td>
                  <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </td>
        <td><%= link_to 'Show', department %></td>
        <td><%= link_to 'Edit', edit_department_path(department) %></td>
        <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Department', new_department_path %>
